@use '../base/vars' as *;
.sce-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  transition: .2s all;
  cursor: pointer;

  &--primary {
    color: $black;
    background-color: $green;

    &:hover {
      background-color: $dark-blue-black;
      color: $green;
    }
  }
}