// Colors
$black: #000000;
$medium-black: #060B0E;
$light-black: #151515;
$dark-blue-black: #080A0D;
$green: #5EDC3B;
$white: #FFFFFF;
$red: #FF0000;
$blue: #0015FF;

// Breakpoints
$noutbook-screen: 1280px;
$tablet-screen: 835px;
$mobile-screen: 395px;