// Colors
$black: #000000;
$medium-black: #060B0E;
$light-black: #151515;
$dark-blue-black: #080A0D;
$green: #5EDC3B;
$green-accent: #63DB54;
$white: #FFFFFF;
$red: #FF0000;
$blue: #0015FF;
$gray: #505050;
$granite-gray: #656565;
$flash-white: #F2F2F2;
$platinum: #e2e2e2;

// Breakpoints
$noutbook-screen: 1440px;
$noutbook-small-screen: 1280px;
$tablet-big-screen: 991px;
$tablet-screen: 835px;
$tablet-small-screen: 768px;
$mobile-screen: 576px;

//Fonts
$font-primary: "Articulat CF";