@use '../base/vars'as *;

.connection-line {
  position: absolute;
  background-color: #63DB54;
  height: 1px;
  z-index: 10;
}

.home {
  section {
    position: relative;
    will-change: transform;
    overflow: hidden;
  }

  .hero {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 945px;
    margin-bottom: 150px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) -44.62%, rgba(0, 0, 0, 0.4) 59.43%);
      z-index: 9;
    }

    & video {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
    }

    &-content {
      position: relative;
      z-index: 10;
      padding-top: 400px;
      padding-bottom: 40px;
      max-width: 865px;

      & h1 {
        margin-bottom: 25px;
        color: $white;
      }

      & .sce-heading--sub {
        margin-bottom: 35px;
        color: $white;
      }

      &--link {
        position: relative;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 3.2px;
        padding-left: 40px;
        color: $white;
        text-decoration: none;

        & .dot {
          left: 0;
        }
      }
    }

    .sce-heading--main__desc {
      opacity: 0;
      transition: opacity 0.7s ease 1.2s;

      &.animate {
        opacity: 1;
      }

    }
  }

  .what-we-do {
    margin-bottom: 100px;
    color: $medium-black;
    position: relative;

    &--content {
      padding-left: 75px;
    }

    & .sce-heading--secondary {
      margin: 40px 0 20px 0;
      max-width: 940px;
    }

    & .sce-heading--top {
      position: relative;
    }

    & .sce-heading--sub {
      max-width: 800px;
    }

    &--list {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 122px;
      margin-top: 150px;

      &_item {
        max-width: 340px;

        &-img {
          margin: 40px 0;
        }

        & h3 {
          font-weight: 400;
          font-size: 32px;
          line-height: 32px;
          letter-spacing: -0.64px;
          text-transform: uppercase;
        }

        & p {
          font-weight: 500;
          font-size: 15px;
          line-height: 26px;
          letter-spacing: 0.3px;
        }
      }

      & .dot {
        position: absolute;
        left: -75px;
        top: 110px;
        transform: unset;

        &.right {
          left: unset;
          right: -55px;
        }
      }
    }

    &__line {
      display: block;
      width: calc(100% + 100px);
      height: 70px;
      position: absolute;
      left: -65px;
      top: 83px;
    }

    &--link {
      margin-top: 30px;
    }

    &_pattern {
      position: absolute;
      right: 0;
      top: 70px;
    }
  }

  .about-us {
    background-color: $light-black;
    color: $white;
    padding: 80px 0 20px 0;
    margin-bottom: 100px;

    & .container {
      max-width: 1540px;
    }

    &--head {
      max-width: 1060px;
      margin: 0 auto 115px auto;
      text-align: center;

      .sce-btn {
        margin: 0 auto;
      }

      .sce-heading--sub {
        margin: 20px auto 30px auto;
        max-width: 785px;
      }

      .sce-heading--secondary {
        font-size: 40px;
        line-height: 45px;
      }
    }

    &--content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      &_map {
        will-change: transform;
        max-width: 860px;
        width: 100%;

        & img {
          width: 100%;
          height: 100%;
        }

        & .dot {
          left: 37px;
          top: 246px;
          transform: unset;
          opacity: 0;
        }
      }

      &_numbers {
        max-width: 500px;
        width: 100%;

        &-item {
          will-change: transform;
          padding: 20px 0;
          text-align: center;
          border-top: 1px solid $gray;

          &:last-child {
            border-bottom: 1px solid $gray;
          }

          & h4 {
            font-weight: 350;
            font-size: 48px;
            line-height: 57.6px;
            letter-spacing: 0;
            margin-bottom: 10px;
          }

          & span {
            font-weight: 400;
            font-size: 16px;
            line-height: 22.4px;
            letter-spacing: 0;
          }
        }

        & .dot {
          left: unset;
          right: 0;
          top: -30px;
          transform: unset;
        }
      }
    }
  }

  .press {
    margin-bottom: 75px;

    & .container {
      max-width: 1315px;
    }

    &-content {
      & .sce-heading--secondary {
        margin-bottom: 40px;
        position: relative;
      }
    }

    & .sce-btn {
      margin-top: 40px;
    }
  }

  & .dot {
    position: absolute;
    left: -75px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: $noutbook-screen) {
  .home {
    .hero {
      min-height: 780px;
      margin-bottom: 100px;

      &-content {
        padding-top: 310px;
      }
    }
  }
}

@media screen and (max-width: $noutbook-small-screen) {
  .home {
    .what-we-do {
      & .sce-heading--secondary {
        margin: 30px 0;
      }

      &--list {
        gap: 63px;
        margin-top: 120px;
      }
    }

    .about-us {
      margin-bottom: 80px;
    }
  }

  .home .what-we-do--list_item h3 {
    font-size: 25px;
    line-height: 25px;
  }
}

@media screen and (max-width: $tablet-screen) {
  .home {
    .hero {
      min-height: 620px;
      margin-bottom: 80px;

      &-content {
        padding-left: 13px;
        padding-top: 230px;
      }
    }

    .what-we-do {
      &--content {
        padding-left: 50px;
      }

      & .sce-heading--secondary {
        margin: 25px 0 15px 0;
      }

      &--list {
        gap: 30px;
        margin-top: 80px;

        &_item {
          & img {
            margin: 20px 0 15px 0;
            max-width: 121px;
          }

          & h3 {
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -0.48px;
          }

          & p {
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0.28px;
          }
        }
      }
    }

    .about-us {
      margin-bottom: 60px;

      & .container {
        padding: 0 60px;
      }

      &--content {
        &_map {
          max-width: 440px;
        }

        &_numbers {
          max-width: 255px;

          &-item {
            & h4 {
              font-size: 54px;
              line-height: 64.8px;
            }

            & span {
              font-size: 13px;
              line-height: 22px;
            }
          }
        }
      }
    }

    .press {
      & .sce-btn {
        margin-top: 30px;
      }
    }

    & .dot {
      left: -35px;
    }
  }

  .home .what-we-do--list .dot {
    left: -35px;
  }

  .home .about-us--content_numbers .dot {
    display: none;
  }

  .what-we-do--list_item-img #dot4 {
    left: -37px;
    top: 46px;
  }

  .what-we-do--list_item-img #dot5 {
    bottom: 12px;
    left: -3px;
  }

  .what-we-do--list_item-img #dot6 {
    top: 52px;
    left: 27px;
  }

  .what-we-do--list_item-img #dot7 {
    top: 52px;
    left: 55px;
  }

  .what-we-do--list_item-img #dot8 {
    top: 23px;
    left: 79px;
  }

  .what-we-do--list_item-img #dot9 {
    top: 50px;
    left: 108px;
  }

  .home .what-we-do--list .dot.right {
    top: 113px;
  }

  .home .press-content .dot {
    left: -29px;
  }

  #dot14 {
    display: block;
  }

  .footer-logo .dot {
    left: -2px !important;
  }
  .home .press-content .sce-heading--secondary {
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 1px;
      height: 30px;
      background-color: $green;
      position: absolute;
    }
  }
}

@media screen and (max-width: $tablet-small-screen) {
  .home {
    .about-us {
      padding: 60px 0;

      &--head {
        margin-bottom: 130px;
      }

      & .container {
        padding: 0 20px;
      }

      &--content {
        flex-direction: column;

        &_map {
          max-width: 100%;
        }

        &_numbers {
          max-width: 100%;
        }
      }

      & .sce-heading--secondary {
        font-weight: 500;
        font-size: 24px;
        line-height: 31.2px;
        letter-spacing: -0.48px;
        text-align: center;
      }
    }

    & .press {
      & .container {
        padding: 0 47px;
      }
    }
  }
}

@media screen and (max-width: $mobile-screen) {
  .home {
    .hero {
      min-height: 720px;
      margin-bottom: 60px;

      &-content {
        padding-left: 0;
        padding-top: 210px;
      }
    }

    .what-we-do {
      &--content {
        padding-left: 30px;
      }

      & .sce-heading--secondary {
        margin: 25px 0 15px 0;
      }

      &--list {
        gap: 30px;
        margin-top: 80px;
        flex-direction: column;

        &_item {
          & img {
            margin: 20px 0 15px 0;
          }

          & h3 {
            font-size: 22px;
            line-height: 22px;
            letter-spacing: -0.48px;
          }

          & p {
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0.28px;
          }
        }
      }
    }

    .press {
      &-content {
        .sce-heading--secondary {
          margin-bottom: 30px;
        }
      }
    }
  }

  .home .dot {
    left: -29px;
  }

  .home .what-we-do--list .dot {
    left: -29px;
  }

  .what-we-do--list_item-img #dot4 {
    left: -29px;
    top: 80px;
  }

  .home .what-we-do--list .dot {
    left: -29px;
    top: unset;
    opacity: 0;
    bottom: -214px;
  }

  .home .what-we-do--list .dot.right {
    display: none;
  }

  .what-we-do--list {
    .what-we-do--list_item:nth-of-type(1) {
      .what-we-do--list_item-img {
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 90px;
          height: 1px;
          background-color: $green;
          position: absolute;
          left: -21px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .what-we-do--list_item:nth-of-type(3) {
      .what-we-do--list_item-img {
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 70px;
          height: 1px;
          background-color: $green;
          position: absolute;
          left: -21px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media screen and (min-width: $noutbook-small-screen) {
  .home {
    .what-we-do {
      &--link {
        margin-top: -35px;
      }
    }
  }
}